{% extends "../../base.html"%} {% block title %} Order Item{% endblock %} {% block content %} {% if order_item %} {% for item in order_item %} {% for pro in item %} {% with prod=pro.product %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% for image in prod.product_image.all %} {% if image.is_feature %}
            <img class="img-field px-auto" alt="Responsive image" src="{{image.image.url}}" width="300px" height="300px" alt="{{image.alt_text}}" /> {% endif %} {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>Title: </b>{{prod.title|title}}</h5>
                <p class="card-text"><b>Description: </b>{{prod.description}}</p>
                <p class="card-text"><b>Price: </b><small class="text-muted">{{ prod.regular_price }}</small></p>
            </div>
        </div>
    </div>
</div>
{% endwith %} {% endfor %} {%endfor%}{% else%}
<p> NO product has been added to your wishlist yet.</p>
{% endif %} {% endblock %}