{% extends 'base.html'%} {% block title %}Home{% endblock %} {% block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> Ecommerce Website</h1>
            <p class="lead text-muted">
                Buy Your wishing product at your home.
            </p>

        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="pb-3 h5">All Sweets</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products%}
            <div class="col">
                <div class="card border-0">
                    {% for image in product.product_image.all%} {% if image.is_feature %}
                    <img class="img-field px-auto" alt="Responsive image" src="{{image.image.url}}" width="300px" height="300px" alt="{{image.alt_text}}" /> {% endif %} {% endfor %}
                    <div class="card-body">
                        <p class="card-text">
                            <a class="text-dark text-decoration-none" href="{% url 'inventory:product_details' product.slug%}">{{product.title|title}}</a>
                        </p>
                        <div class="">
                            ₹{{product.regular_price}}
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

{%endblock%}